<!-- Loop over each object in the projects array -->
<h3 class="recents">ALL POSTS</h3>
{{#each posts as |post|}}
<div class="recent-posts">
  <div class="homepage-posts">
    <h2 class="homepage-posts-titles">{{post.title}}</h2>
    <img src="{{post.image}}">
    <p class="homepage-posts-descriptions">{{post.description}}</p>
    <p class="homepage-posts-users"><i>created by: </i> {{post.user.username}}</p>
    <h4>Advice:</h4>
    {{#each post.advice}}
    <p>{{advice}}</p>
    {{/each}}
    {{log post}}
    <div id="addAdviceDiv">
    <input type="text" id="adviceInp">
    <button id="addAdvice">GIVE ADVICE</button>
    </div>
  </div>
</div>
{{/each}}
<script src="./js/giveAdvice.js"></script>