<!-- Loop over each object in the projects array -->
{{#if logged_in}}
<div class="home-card">
    <h3 class="card-header">CREATE NEW POST</h3>
    <form class="card-body new-post-form" id="new-post-form">
        <label for="post-title" class="form-label">TITLE: </label>
        <br/>
        <input type="text" id="titleInp" name="post-title" class="form-input" />
        <br/>
        <label class="form-label" for="content">DESCRIPTION: </label>
        <br/>
        <input name="content" class="form-input" id="descInp" />
        <br/>

        <button type="submit" class="btn" id="postBtn">POST</button>
    </form>
        <button id="upload_widget" class="cloudinary-button">UPLOAD PHOTO</button>
</div>

{{else}}
<div class="row">
  <div class="login-form-container">
    <h2>LOGIN</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">EMAIL:</label>
        <br/>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">PASSWORD:</label>
        <br/>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="buttons">
        <div class="form-group">
          <button class="btn-login" type="submit">LOGIN</button>
        </div>
        <div class="form-group">
          <button class="btn-signup" type="submit"><a href="/signUp">SIGN UP</a></button>
        </div>
      </div>
    </form>
  </div>
</div>

<h3 class="recents">RECENT POSTS</h3>
{{/if}}

{{#each posts as |post|}}
<div class="recent-posts">
  <div class="homepage-posts">
    <h2 class="homepage-posts-titles">{{post.title}}</h2>
    <img src="{{post.image}}">
    <p class="homepage-posts-descriptions">{{post.description}}</p>

    <p class="homepage-posts-users"><i>created by: </i> {{post.user.username}}</p>
      <h4>Advice:</h4>
    {{#each post.advice}}
    <p>{{advice}}</p>
    {{/each}}
  </div>
</div>

{{/each}}

<script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>

{{#if logged_in}}
<script src="./js/post.js"></script>
{{else}}
{{/if}}
{{!-- {{#each projects as |project| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/project/{{project.id}}">{{project.name}}</a>
    </h2>
    <p>
      <span for="img" aria-label="money">💲</span>
      <!-- Pass needed_funding value to the helper function -->
      <span class="dollar-amount">{{format_amount project.needed_funding}}</span>
      needed!
    </p>
    <p>Created by {{project.user.name}} on {{format_date project.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{project.description}}
    </p>
  </div>
</div>
{{/each}} --}}
